.visual-preview-fixed-selection {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  outline: 2px solid var(--ui-accent);
  pointer-events: none;
}

.visual-preview-fixed-selection--both {
  right: 0;
  left: 0;
}

.visual-preview-fixed-selection--left {
  left: 0;
  width: 50%;
}

.visual-preview-fixed-selection--right {
  right: 0;
  width: 50%;
}
