.canvas-preview {
  width: 100%;
  height: 100%;
}

.canvas-preview .canvas-host,
.canvas-preview .canvas-empty {
  width: 100%;
  height: 100%;
}

.canvas-preview[data-acceptance-surface="editor"] {
  width: calc(100% - 313px);
  height: calc(100% - 276px);
}
