.media-panel-preview {
  display: grid;
  height: 100%;
  min-height: 0;
}

.media-panel-preview > .media-panel {
  grid-area: auto;
}

.media-panel-preview[data-acceptance-surface="editor"] {
  width: calc(100% - 313px);
  height: 200px;
}
